body {
  background-color: #e9f5f9;
  margin: 20px;
}

h1,
h2 {
  color: rgb(20, 20, 99);
}

h3 {
  color: blue;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

p {
  color: black;
}

p,
a,
li {
  text-align: justify;
  font-size: 17px;
  font-weight: 600;
}

.navegador {
  font-weight: bold;
  color: #145369;
}

#bCerrar {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ancla1 {
  text-align: center;
}

.ancla1 a {
  color: rgb(255, 0, 128);
}

.boton {
  text-align: center;
}

/*Footer*/
footer {
  margin-top: 20px;
  border-top: 2px solid #5b7065;
  color: black;
  width: 100%;
}

footer p {
  text-align: center;
  min-width: 1000px;
}
